* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

#navbar {
	height: 2.1vh;
	width: 100vw;
	font-size: 100%;
}

.container {
	background-image: url(https://cdn.spacetelescope.org/archives/images/screen/opo0501a.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 96vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}

#editor {
	width: 45vw;
	height: 46.8vh;
}

#win-editor {
	width: 45vw;
	height: 46.8vh;
}

#footer {
	height: 2vh;
	width: 100vw;
}

i {
	margin-bottom: 1.2vh;
	margin-left: 1vw;
	cursor: pointer;
}
